body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.header {
  background-color: #002D62; /* Blue background */
  padding:15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.logo {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  margin-left: 5rem;
}

.nav {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  position:fixed;
  right: 9.5rem;
}
.nav-right{
  display: flex;
  align-items: center;
 
}
.search-icon {
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  padding: 10px 18px;
}
.enroll-button {
  padding: 5px 10px;
  font-size: 12px;
  color: #002D62;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  height:34px
}
.hamburger-menu {
  display: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}
@media (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }
  .logo {
    margin-left: 0px;
  }

  .nav-right {
    display: none;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    background-color: #002D62; /* Ensure the dropdown menu has the same background */
    padding: 20px;
  }

  .nav-right.open {
    display: flex;
    align-content: center;
  }

  .nav {
    flex-direction: column;
    width: 100%;
    position:static;
    /* right: 9.5rem; */
  }

  .dropdown-select {
    width: 100%;
    margin-top: 10px;
    font-size: 14px; 
    padding: 8px;
  }
  .dropdown {
    width: 50%;
    align-self: self-end;
  }

  .enroll-button {
    width: 50%;
    text-align: center;
    align-self: flex-end;
  }
  .dropdown-select:focus {
    outline: none;
  }
  .search-icon {
   display: none;
  }
}
